<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мини-блог</title>
    <link rel="stylesheet" href="../static/style/styles.css">

</head>
<body>
    <header>
        <div class="head">
            <h1>
                    <a href="/"><button class="button" id="button1">Главная</button></a>
                    <a href="/create"><button class="button" id="button2">Создать запись</button></a>
                    <a href="/rules"><button class="button" id="button3">Правила</button></a>
                    <a href="/info"><button class="button" id="button4">Разработчики</button></a>
            </h1>
        </div>
    </header>
    <p class = "header3">Сайт разработали</p>
    <p class = "name1">Ярошевская Ксения</p> <p class = "name2">Юрьев Максим</p>
    <p>
        <div class="photos1">
            <img src="{% static 'img/tg1.png' %}" alt="Ксения">
        </div>
        <div class="photos2">
            <img src="{% static 'img/tg2.png' %}" alt="Максим">
        </div>

    </p>
</body>
</html>