<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мини-блог</title>
    <style>

    </style>
</head>
<body>
    <header>
        <h1>Правила сайта</h1>
        <nav>
                <a href="/"><button>Главная</button></a>
                <a href="/create"><button>Создать запись</button></a>
                <a href="/rules"><button>Правила</button></a>
                <a href="/info"><button>Разработчики</button></a>
        </nav>
    </header>
    <p>На нашем сайте запрещено:</p>
    <ul>
        <li>Запрещено писать оскорбительные или уничижительные комментарии. Все пользователи должны уважать друг друга, независимо от их мнений или точек зрения.</li>
        <li>Не разрешается создавать мошеннические, ложные или вводящие в заблуждение записи. Мы не хотим, чтобы наш мини-блог использовался для распространения дезинформации или обмана.</li>
        <li>Пользователи должны соблюдать авторские права и не копировать чужой контент без разрешения.</li>
        <li>Запрещается публикация контента, который может содержать насилие, порнографию, дискриминацию или пропаганду наркотиков.</li>
        <li>Все споры и конфликты следует решать мирным путем, без оскорблений или угроз. Если у вас возникли проблемы, пожалуйста, свяжитесь с администрацией сайта.</li>
    </ul>
</body>
</html>