<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/styles.css">
    <title>Мини-блог</title>
</head>
<body>
    <header>
        <nav>
                <a href="/"><button class="button" id="button1">Главная</button></a>
                <a href="/create"><button class="button" id="button2">Создать запись</button></a>
                <a href="/rules"><button class="button" id="button3">Правила</button></a>
                <a href="/info"><button class="button" id="button4">Разработчики</button></a>
        </nav>
        <h1 class="header2">Правила сайта</h1>
    </header>
    <ul class="rul">
        <p>На нашем сайте запрещено:</p>
        <p> </p>
        <li>Запрещено писать оскорбительные или уничижительные комментарии. Все пользователи должны уважать друг друга, независимо от их мнений или точек зрения.</li>
        <li>Не разрешается создавать мошеннические, ложные или вводящие в заблуждение записи. Мы не хотим, чтобы наш мини-блог использовался для распространения дезинформации или обмана.</li>
        <li>Пользователи должны соблюдать авторские права и не копировать чужой контент без разрешения.</li>
        <li>Запрещается публикация контента, который может содержать насилие, порнографию, дискриминацию или пропаганду наркотиков.</li>
        <li>Все споры и конфликты следует решать мирным путем, без оскорблений или угроз.</li>
        <p> </p>
        <p>Если у вас возникли проблемы, пожалуйста, свяжитесь с администрацией сайта.</p>
    </ul>
</body>
</html>