body {
}

header {
    background-color: #4682B4;
    opacity: 0.5;
    filter: alpha(opacity=50);
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0px;
    left: 0px;
}

html {
    background-image: url(../img/background1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

button {
    border: none;
    background-color: transparent;
    color: black;
    text-align: center;
    font-family: FreeMono, monospace;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
}

#button1 {
    position: absolute;
    top: 25px;
    left: 150px;
}

#button2 {
    position: absolute;
    top: 25px;
    left: 420px;
}

#button3 {
    position: absolute;
    top: 25px;
    right: 465px;
}

#button4 {
    position: absolute;
    top: 25px;
    right: 150px;
}

button:hover {
    color: #DC143C;
}
/*Создать запись*/

label {
    font-family: FreeMono, monospace;
    font-size: 19px;
    font-weight: 600;
}

.lb1 {
    position: absolute;
    top: 180px;
    left: 40px;
}

input[id=name] {
    color: black;
    width: 300px;
    height: 25px;
    background-color: rgba(180, 180, 180, 0.3);
    border-radius: 5px;
    box-sizing: border-box;
    border: 2px solid;
    border-color: rgb(163, 181, 255);
    position: absolute;
    top: 215px;
    left: 40px;
}

.lb2 {
    position: absolute;
    top: 252px;
    left: 40px;
}

textarea[id=text_data] {
    color: black;
    width: 800px;
    height: 200px;
    background-color: rgba(180, 180, 180, 0.3);
    border-radius: 10px;
    box-sizing: border-box;
    border: 2px solid;
    border-color: rgb(163, 181, 255);
    position: absolute;
    top: 287px;
    left: 40px;
}
.lb3 {
    position: absolute;
    top: 500px;
    left: 40px;
}

input[id=photo] {
    color: white;
    width: 100px;
    height: 25px;
    background-color: black;
    opacity: 0.5;
    filter: alpha(opacity=50);
    border-radius: 10px;
    box-sizing: border-box;
    border: 2px solid;
    border-color: blue;
    position: absolute;
    top: 500px;
    left: 300px;
    cursor: pointer;
}

.but {
    font-family: FreeMono, monospace;
    font-size: 19px;
    font-weight: 600;
    text-align: center;
    color: white;
    width: 180px;
    height: 30px;
    background-color: black;
    opacity: 0.5;
    filter: alpha(opacity=50);
    border-radius: 10px;
    border: 2px solid;
    border-color: blue;
    position: absolute;
    top: 550px;
    left: 40px;
    cursor: pointer;
}

/*Правила*/

.rul {
    font-family: FreeMono, monospace;
    font-size: 19px;
    position: absolute;
    top: 200px;
    left: 100px;
    right: 100px;
}

/*Разработчики*/

.photos1 img{
    border: 1px solid #ddd;
    border-radius: 30px;
    width: 400px;
    height: 400px;
    position: absolute;
    top: 250px;
    left: 250px;
}

.photos2 img{
    border: 1px solid #ddd;
    border-radius: 30px;
    width: 400px;
    height: 400px;
    position: absolute;
    top: 250px;
    right: 250px;
}

.header2 {
    font-family: FreeMono, monospace;
    color: black;
    font-size: 25px;
    font-weight: 700;
    position: absolute;
    top: 100px;
    left: 550px;
}

.header3 {
    font-family: FreeMono, monospace;
    color: black;
    opacity: 0.5;
    filter: alpha(opacity=50);
    font-size: 25px;
    font-weight: 700;
    position: absolute;
    top: 93px;
    left: 550px;
}

.name1 {
    font-family: FreeMono, monospace;
    font-size: 19px;
    font-weight: 600;
    position: absolute;
    top: 190px;
    right: 375px;
}

.name2 {
    font-family: FreeMono, monospace;
    font-size: 19px;
    font-weight: 600;
    position: absolute;
    top: 190px;
    left: 380px;
}

/*Главная страница*/

.posts{
    font-family: FreeMono, monospace;
    font-size: 19px;
    font-weight: 600;
    weight: auto;
    height: auto;
    position: absolute;
    top: 140px;
    left: 55px;
}

.posts1{
    border: 1px solid #ddd;
    border-radius: 30px;
    margin: 10px 100px 10px 100px;
    background-color: rgba(180, 180, 180, 0.3);
}

.photoIndex{
    border: 1px solid #ddd;
    border-radius: 30px;
    width: auto;
    height: auto;
    margin: 10px 0px 0px 100px
}

a{
    color: inherit;
    text-decoration: none;
}

a:hover{
    color: #DC143C;
}

.nameofpost{
    font-size: 24px;
    position: absolute;
    left: 550px;
}
.textofpost{
    margin: 70px 100px 0px 100px;

}

/*ДЕТАЛИ ПОСТА И КОММЕНТАРИИ*/

.details{
    border: 1px solid #ddd;
    border-radius: 30px;
    margin: 173px 155px 10px 155px;
    font-family: FreeMono, monospace;
    background-color: rgba(180, 180, 180, 0.3);
}

.nickname{
    font-size: 15px;
    position: absolute;
    left: 635px;
}

.textdetails{
    position: absolute;
    margin: 45px 100px 0px 100px;
}

.imgdetails img{
    border: 1px solid #ddd;
    border-radius: 30px;
    width: auto;
    height: auto;
    margin: 100px 0px 0px 100px
}

.form-comment{
    border: 1px solid #ddd;
    border-radius: 30px;
    margin: 10px 155px 10px 155px;
    font-family: FreeMono, monospace;
    background-color: rgba(180, 180, 180, 0.3);
}

.head-comment{
    font-size: 20px;
    position: absolute;
    left: 575px;
}

.ur-comm{
    margin: 55px 0px 10px 100px;
}

.ur-name{
    margin: 10px 0px 10px 100px;
}

.ur-email{
    margin: 10px 0px 10px 100px;
}

textarea[id=comm_data]{
    width: 600px;
    height: 100px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 2px solid;
    border-color: rgb(163, 181, 255);
}

input[id=comm_name]{
    width: 300px;
    height: 30px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 2px solid;
    border-color: rgb(163, 181, 255);
}

input[id=comm_email]{
    width: 300px;
    height: 30px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 2px solid;
    border-color: rgb(163, 181, 255);
}

input[id=save]{
    margin: 5px 0px 10px 100px;
    width: 140px;
    height: 30px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 2px solid;
    border-color: rgb(163, 181, 255);
}

.view-comm{
    border: 1px solid #ddd;
    border-radius: 30px;
    margin: 10px 155px 10px 155px;
    font-family: FreeMono, monospace;
    background-color: rgba(180, 180, 180, 0.3);
}
.nameofcommentaries{
    margin: 30px 0px 0px 100px;
}
.nameofcommentaries1{
    font-weight: 1000;
}
.textofcommentaries{
    margin: 0px 0px 30px 100px;
}
.textofcommentaries1{
    font-weight: normal;
}
p[id=zapicy]{
    margin: 300px 300px 500px 500px;
    font-size: 40px
}